/*
display: grid;
margin: auto;
width: 600px;
grid-template-areas:
"h h h"
"n p p";

grid-template-rows: 80px 8fr;
grid-template-columns: 2fr 10fr;
*/
.postBlock{
  flex:auto;
  display: grid;
  padding: 10px;
  
}
.newPost{
  margin-right: 10px;
}
.postText{
  width: 100%;
  
}
.createPost{
  width: 60px;
}
.posts{
  margin-top: 15px;
}