.item{
  color: grey;
}
.post_avatar{
  height: 60px;
  width: 60px;
  border-radius: 20px;
}
.feedback{
  display: grid;
  width: 100%;
  height: 40px;
  grid-template-columns:80px 80px;
  grid-template-areas:
  "l v";
  
}
.likes{
  grid-area:l;
}
.likes_img{
  width:30px;
}
.likes_img{
  vertical-align:middle;
}