.bar {
  min-height: 400px;
  grid-area: n;
  background-color: #7B5A6D;
  padding: 20px;
}

.item {
  color: #FFB18A;
  text-decoration: none;
}

.active {
  color: aquamarine;
  text-decoration: none;
}
.freinds_ava{
  width: 26px;
  border-radius: 13px;
}