
  .profile_heade_img{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 200px;
  }

  .profile_avatar_img{
    height: 150px;
    width: 150px;
  }
  .profile_name{
    vertical-align: top;
    font-size: 3ch;
  }
  