.dialogs{
    display: grid;
    grid-template-columns: 3fr 8fr;
}
.dialogsItem{
    padding: 5px;
}
.dialog{
    color:#3D5D6B;
    text-decoration: none;
}
.active{
    color: gold;
    text-decoration: none;
}

.masseges{
    padding: 5px;
}