.dialogPage {
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 8fr;
}

.dialogs {
    padding: 5px;
}

.masseges {
    padding: 10px 40px 10px 40px;
    background-color: #8fc0df;
}